### Tuples

Tuples are an immutable sequence data type that are commonly used to hold short collections of related data. For instance, if you wanted to store latitude and longitude coordinates for cities, tuples might be a good choice, because the values are related and not likely to change. Like lists, tuples can store objects of different types.

Construct a tuple with a comma separated sequence of objects within parentheses:

In [3]:
my_tuple = (1,3,5)

print(my_tuple)

(1, 3, 5)

Alternatively, you can construct a tuple by passing an iterable into the tuple() function:

In [6]:
my_list = [2,3,1,4]

another_tuple = tuple(my_list)

another_tuple

(2, 3, 1, 4)

Tuples generally support the same indexing and slicing operations as lists and they also support some of the same functions, with the caveat that tuples cannot be changed after they are created. This means we can do things like find the length, max or min of a tuple, but we can't append new values to them or remove values from them:

In [9]:
another_tuple[2]

1

In [11]:
another_tuple[2:4]   # You can slice tuples

(1, 4)

In [13]:
# You can use common sequence functions on tuples:

print( len(another_tuple))   
print( min(another_tuple))  
print( max(another_tuple))  
print( sum(another_tuple))

4
1
4
10

In [15]:
another_tuple.append(1)    # You can't append to a tuple

AttributeError: 'tuple' object has no attribute 'append'

In [17]:
del another_tuple[1]      # You can't delete from a tuple

TypeError: 'tuple' object doesn't support item deletion

You can sort the objects in tuple using the sorted() function, but doing so creates a new list containing the result rather than sorting the original tuple itself like the list.sort() function does with lists:

In [20]:
sorted(another_tuple)

[1, 2, 3, 4]

In [22]:
type(sorted(another_tuple))

list

In [24]:
list1 = [1,2,3]

tuple1 = ("Tuples are Immutable", list1)

tuple2 = tuple1[:]                       # Make a shallow copy

list1.append("But lists are mutable")

print( tuple2 )                          # Print the copy

('Tuples are Immutable', [1, 2, 3, 'But lists are mutable'])

To avoid this behavior, make a deepcopy using the copy library:

In [27]:
import copy

list1 = [1,2,3]

tuple1 = ("Tuples are Immutable", list1)

tuple2 = copy.deepcopy(tuple1)           # Make a deep copy

list1.append("But lists are mutable")

print( tuple2 )                          # Print the copy

('Tuples are Immutable', [1, 2, 3])

### Strings

We already learned a little bit about strings in the lesson on basic data types, but strings are technically sequences: immutable sequences of text characters. As sequences, they support indexing operations where the first character of a string is index 0. This means we can get individual letters or slices of letters with indexing:

In [31]:
my_string = "Hello world"

my_string[3]    # Get the character at index 3

'l'

In [33]:
my_string[3:]   # Slice from the third index to the end

'lo world'

In [35]:
my_string[::-1]  # Reverse the string

'dlrow olleH'

In addition, certain sequence functions like len() and count() work on strings:

In [38]:
len(my_string)

11

In [40]:
my_string.count("l")  # Count the l's in the string

3

As immutable objects, you can't change a string itself: every time you transform a string with a function, Python makes a new string object, rather than actually altering the original string that exists in your computer's memory.

Strings have many associated functions. Some basic string functions include:

In [43]:
# str.lower()     

my_string.lower()   # Make all characters lowercase

'hello world'

In [45]:
# str.upper()     

my_string.upper()   # Make all characters uppercase

'HELLO WORLD'

In [47]:
# str.title()

my_string.title()   # Make the first letter of each word uppercase

'Hello World'

Find the index of the first appearing substring within a string using str.find(). If the substring does not appear, find() returns -1:

In [50]:
my_string.find("W")

-1

Notice that since strings are immutable, we never actually changed the original value of my_string with any of the code above, but instead generated new strings that were printed to the console. This means "W" does not exist in my_string even though our call to str.title() produced the output 'Hello World'. The original lowercase "w" still exists at index position 6:

In [53]:
my_string.find("w")

6

Find and replace a target substring within a string using str.replace():

In [56]:
my_string.replace("world",    # Substring to replace
                  "friend")   # New substring

'Hello friend'

Split a string into a list of substrings based on a given separating character with str.split():

In [59]:
my_string.split()     # str.split() splits on spaces by default

['Hello', 'world']

In [61]:
my_string.split("l")  # Supply a substring to split on other values

['He', '', 'o wor', 'd']

Split a multi-line string into a list of lines using str.splitlines():

In [64]:
multiline_string = """I am
a multiline 
string!
"""

multiline_string.splitlines()

['I am', 'a multiline ', 'string!']

Strip leading and trailing characters from both ends of a string with str.strip().

In [67]:
# str.strip() removes whitespace by default

"    strip white space!   ".strip()

'strip white space!'

Override the default by supplying a string containing all characters you'd like to strip as an argument to the function:

In [70]:
"xXxxBuyNOWxxXx".strip("xX")

'BuyNOW'

You can strip characters from the left or right sides only with str.lstrip() and str.rstrip() respectively.

To join or concatenate two strings together, you can us the plus (+) operator:

In [73]:
"Hello " + "World"

'Hello World'

Convert the a list of strings into a single string separated by a given delimiter with str.join():

In [78]:
" ".join(["Hello", "World!", "Join", "Me!"])

'Hello World! Join Me!'

Although the + operator works for string concatenation, things can get messy if you start trying to join more than a couple values together with pluses.

In [81]:
name = "Joe"
age = 10
city = "Paris"

"My name is " + name + " I am " + str(age) + " and I live in " + "Paris"

'My name is Joe I am 10 and I live in Paris'

For complex string operations of this sort is preferable to use the str.format() function or formatted strings. str.format() takes in a template string with curly braces as placeholders for values you provide to the function as the arguments. The arguments are then filled into the appropriate placeholders in the string:

In [84]:
template_string = "My name is {} I am {} and I live in {}"

template_string.format(name, age, city)

'My name is Joe I am 10 and I live in Paris'

In [86]:
# Remaking the example above using an f-string

f"My name is {name} I am {age} and I live in {city}"

'My name is Joe I am 10 and I live in Paris'